extends layout

block content
	h1 #{title}

	form(method='POST' action='')
		div.form-group
			label(for='location') Location:
			select#location.form-control(type='select', placeholder='Select Location' name='location' required='true' )
				for loc in location
					if ti
						option(value=loc._id selected=(loc._id.toString()==ti.Location?'selected':false)) #{loc.fulllocation}
					else
						option(value=loc._id) #{loc.fulllocation}
			label(for='jobrole') Job Role:
			select#jobrole.form-control(type='select', placeholder='Job Role' name='jobrole' required='true' )
				for jr in jobrole
					if ti
						option(value=jr._id selected=(jr._id.toString()==ti.JobRole?'selected':false)) #{jr.Name}
					else
						option(value=jr._id) #{jr.Name}
			label(for='name') Name/Description:
			if ti
				input#name.form-control(type='text', placeholder='Name/Description' name='name' value=((ti.Name===undefined) ? '' : ti.Name))
			else 
				input#name.form-control(type='text', placeholder='Name/Description' name='name')
			
			
		button.btn.btn-primary(type='submit') Submit

	if errors 
		ul
			for error in errors
				li!= error.msg